.Logo {
  object-fit: cover;
  object-position: -20% 0;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
}

.About,
.Work,
.Contact {
  color: #b8d1e6;
  font-family: "Catamaran", sans-serif;
  font-family: "Lato", sans-serif;
  z-index: 1;
}

.About:hover,
.Work:hover,
.Contact:hover {
  border-bottom: 4px solid #b8d1e6;

  font-size: 100px;
}

.Slash {
  padding-left: 7%;
  padding-right: 7%;
  color: #b8d1e6;

  font-family: "Catamaran", sans-serif;
  font-family: "Lato", sans-serif;
}
